h1 {
color: white;
}

.profile__header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__change{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(177, 166, 166);
    font-size: 18px;
    border-radius: 10px;
}

.header__change:hover {
    box-shadow: 5px 5px 10px red;
    color: red;
}

.profile__back {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7B8E98;
    margin: 0.75rem 0 1rem 0;
}

.profile_input {
    padding: 0 16px;
    gap: 10px;
    height: 2.5rem;
    background: #1976d2;
    border: 1px solid #cfd8dc;
    border-radius: 12px;
}

.profile__user {
    max-width: 740px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.profile__avatar{
padding: 3rem 0 2rem 0;
display: flex;
gap: 2rem;
align-items: center;
}

.profile__avatar-img{ 
width: 200px;
height: 200px;
border-radius: 50%;
}