.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1rem;
  }

  .pagination {
    background-color: rgb(229, 231, 238, 0.5);
    border-radius: 10px;
  }