.logo-pic {
  max-width: 30%;
  min-width: 30%;
  pointer-events: none;
  border-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-pic{
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}