.header {
    width: 100%;
    background-color: #1976d2;
    padding: 12px 0;
    border-radius: 0 0 20px 20px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__rait {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.btn_header {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    outline: none;
    border: none;
    border-radius: 25px;
    height: 46px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #1976d2;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    align-items: center;
}

.btn_header:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}

.header_link {
    text-decoration: none;
    padding-right: 40px;
}

@media (max-width: 720px) {
    .header__wrap {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .header__left {
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .btn_header {
        border-radius: 25px;
        height: 25px;
        font-size: 14px;
        padding: 20px;
    }
}