.admin{
  color: white;
 padding-bottom: 1rem;
}

.diagram {
  width:1000px; 
  height:500px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

.table{
padding-bottom: 2rem;
}


  
      