.post_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid;
	border-color: rgb(154, 202, 245);
	border-radius: 20px;
	background: rgba(21, 32, 236, 0.4);
	margin-bottom: 10px;
}

.post_btn {
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	display: inline-block;
	transition: background-color .3s;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.btn__type__primary {
	background-color: #adaef3;
	cursor: pointer;
}

.btn__type__primary:hover {
	background-color: #FFAA0D;
	color: #F44336;
}

.post__header {
	width: 100%;
}

.post__title {
	font-size: 20px;
	color: #f1f50a;
}

.post__desc {
	width: 100%;
	font-size: 16px;
	padding-top: 14px;
	font-weight: 600;
	background-color: rgba(21, 32, 236, 0.2);
	color: whitesmoke;
	display: flex;
	gap: 20px;
	justify-content: space-around;
	border-radius: 10px;
}

.post__image {
	max-width: 488px;
	object-fit: contain;
	margin-bottom: 16px;
}

.post__text {
	font-size: 16px;
	padding: 14px 20px;
	font-weight: 600;
	background-color: rgba(21, 32, 236, 0.2);
	color: whitesmoke;
	border-radius: 10px;
}

.post__info {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: flex-start;
}

.post__info__date__title {
	font-size: 14px;
	font-weight: 300;
}

.post__info__like {
	display: flex;
	align-items: center;
	gap: 20px;
}

.post__favorite {
	cursor: pointer;
	background: none;
	border: none;
	padding: 10px 5px 7px 5px;
	display: flex;
	position: relative;
}

.post__data__tag {
	display: flex;
	gap: 10px;
	padding-bottom: 10px;
}

.post__data__tag__span {
	background: #c43a17;
	color: wheat;
}

.post_author__name {
	color: aqua;
	margin: 0;
	padding-right: 20px;
}

.post_info__header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
	padding-right: 10px;
}

.post__author__ava {
	display: block;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #fff;
	box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
}

.post_card:hover {
	box-shadow: 10px 5px 5px rgba(230, 15, 15, 0.3), 10px 8px 16px rgba(233, 9, 46, 0.4);
}

.post_card:focus-within {
	box-shadow: 10px 5px 5px rgba(230, 15, 15, 0.3), 10px 8px 16px rgba(233, 9, 46, 0.4);
}

.post_author__name {
	color: aqua;
}

.post_author__date {
	color: bisque;
}

.post__data__tag {
	display: flex;
	gap: 10px;
	padding-bottom: 10px;
}

.post__data__tag__span {
	background: #c43a17;
	color: wheat;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

svg {
	fill: rgb(240, 180, 180, 0.6);
}

.post__liked>svg {
	fill: red;
}

.post__update {
	padding: 10px 20px;
	border-radius: 20px;
}

.comments__basket {
	cursor: pointer;
	padding: 3px;
}

.comments__basket:hover {
	border-radius: 50%;
	box-shadow: 2px 2px 5px red;
}

@media (max-width: 900px) {
	.post__desc {
		flex-direction: column;
	}

	.post__image {
		width: 100%;
		max-width: none;
		object-fit: contain;
		margin-bottom: 16px;
	}

	.post__info {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.post_info__header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		padding-right: none;
	}
}